:root {
    /* HEADINGS */
    --heading-XL: 88px;
    --heading-L: 48px;
    --heading-M: 24px;


    /* LINE-HEIGHT */
    --lineHeight-XL: 1;
    --lineHeight-L: 1.17;
    --lineHeight-M: 1.33;
    --lineHeight-P: 1.5;
    --lineHeight-P-mobile: 1.625;


    /* COLOR */

    --main-bg-color: hsl(0, 0%, 8%);
    --accent: hsl(153, 71%, 59%);
    --text-color-1: hsl(0, 0%, 100%);
    --text-color-2: hsl(0, 0%, 85%);
    --secondary-color: hsl(0, 0%, 85%);
    --footer-bg-color: hsl(0, 0%, 14%);

    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;
    --fs-34: 2.125rem;
    --fs-36: 2.25rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    --fs-72: 4.5rem;
    --fs-88: 5.5rem;

    --tablet: 37.5em;
}

/* * {
    border: 1px solid red;
} */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color-2);
    font-family: 'Space Grotesk', sans-serif;
    font-size: var(--fs-18);
}

h1,
h2,
h3,
h4,
a {
    color: var(--text-color-1);
    text-decoration: none;
    /* for all anchor elements*/
}

p {
    font-size: 1rem;
    font-size: clamp(1rem, 0.9559859154929577rem + 0.18779342723004694vw, 1.125rem);
    line-height: var(--lineHeight-P-mobile);
    font-weight: normal;
    color: var(--text-color-2);
}
/* TODO: MAKE CHANGES TO THE the large heading to reflect design  */

.heading-XL {
    line-height: 1.1;
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
    letter-spacing: -1.14px;
}
/* TODO: MAKE CHANGES TO THE the large heading to reflect design  */
.heading-L {
    font-size: 2rem;
    font-size: clamp(2rem, 1.647887323943662rem + 1.5023474178403755vw, 3rem);
    font-weight: bold;

}

/* Made changes to reflect the right Heading */
.heading-M {
    font-size: 1.5rem;
font-size: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
}

.btn-fs {
    font-size: 1rem;
font-size: clamp(1rem, 1rem + 0vw, 1rem);
}

h1 > span {
    background-image: linear-gradient(to right, var(--accent) 50%,  var(--accent) 50% );
    background-repeat: repeat-x;
    background-position: 0 1.18em;
    background-size: 8px 4px;
}

a {
    transition: color .3ms ease-in-out;
}

a:hover {
    color: var(--accent);
}

.wrapper {
    max-width: 69.38rem;
    width: calc(100% - 2rem);
    margin-inline: auto;
}

.theme-underline{
    padding-block-end: 10px;
    border-bottom: 2px solid var(--accent);
}

.theme-underline:hover{
    color: var(--accent);
}

input {
    width: 100%;
}



@media (min-width: 37.5em) {
    .wrapper {
        width: calc(100% - 3.75rem)
    }
}




/* 
=============
HEADER
=============
*/
.header {
    margin-block-start: 20px;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-inline: auto;
    gap: 20px 25px;
    justify-content: center;
}


.header__logo {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.32rem + 0.75vw, 2rem);
    flex: 1 0 100%;
    text-decoration: none;
}

.header__logo:hover {
    color: var(--accent);
}

.header__social,
.header__social svg {
    display: block;
}

.header__social:hover>svg>path {
    fill: var(--accent);

}

@media (min-width: 37.5em) {
    .header {
        margin-block-start: 29px;
    }

    .header__nav {
        text-align: start;
        justify-content: start;
    }

    .header__logo {
        flex: 1 0 0%;
    }
}


@media (min-width: 62.5em) {
    .header {
        margin-block-start: 40px;
    }

    .header__nav {
        padding-right: 30px;
    }
}

/* 
============
HERO
============
*/

.hero__container {
    position: relative;
}
.hero__image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 174px;
    height: auto;
}
.hero__rings{
    position: absolute;
    top: 124px;
    right:50%;
    height: auto;
    z-index: -1;
}

.hero__circle {
    position: relative;
    top: 254px;
    transform: translateX(calc(100vw - 64px));
}

.hero__text {
    text-align: center;
    margin-block-start: 335px;
}


.headline__breaker {
    display: none;
}

.hero__description{
    margin-block-end: 24px;
}



@media (min-width: 37.5em){
    .hero__container{
        position: unset;
        padding-bottom: 90px;
    }
  
    .hero__content{
        display: flex;
        margin-block-start: -40px;
        width: 445px;
    }
    .hero__text {
        text-align: left;
        margin-block-start: unset;
    }


    .hero__headline{
        font-size: 4.2rem;
        margin-block-end: 60px;
    }

    h1 > span {
        background-image: linear-gradient(to right, var(--accent) 50%,  var(--accent) 50% );
        background-repeat: repeat-x;
        background-position: 0 1.18em;
        background-size: 8px 4px;
    
    }

    .hero__description {
        font-size: 1.125rem;
        margin-block-end: 34px;
    }

    .hero__image {
        width: 42vw;
        max-width: 322px;
        left: unset;
        right: 0px;
        transform: unset;
        z-index: -1;
    }

    .hero__rings{
        top: 86px;
        right:66%;
        height: auto;
        z-index: -1;
    }

    .hero__content picture {
        order: 2;
    }
    .headline__breaker {
        display: inline-block;
    }

    .line {
        display: inline-block;
    }
}


@media (min-width: 62.5em){
    .wrapper {
        width: 1110px;
    }
    .hero__image{
        max-width: 445px;
        right: 165px;
    }

    .hero__rings{
        top: 133px;
        right:70.1%;
    }


    .hero__content{
        top: 198px;
        width: 760px;
        margin-block-start: initial;
    } 

    .headline__breaker {
        display: none;
    }

    .hero__headline {
        font-size: 5.5rem;
    }

    .hero__description {
        font-size: 1.23rem;
        margin-block-end: 34px;
        width: 445px;
    }

    .hero__button {
        display: block;
        width: 120px;
    }
}








/* 
=============
SKILLS SECTION
=============
*/

.skills__container {
    position: relative;
    margin-top: 120px;
    display: grid;
    place-content: center;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-block-start: 40px;
    padding-block-end: 40px;

}

.skill__box {
    margin-bottom: 24px;
}

.skill__box > p {
    line-height: initial;
}

.skills__container > .skill__duration {
    font-size: 0.89rem;
}

.skills__rings {
    position: absolute;
    left: 64.4%;
    /* top: 63%; */
    bottom: calc(-129px / 2);
}


@media (min-width: 37.5em){
    .skills__container {
        /* margin-top: 52px; */
        border-bottom: none;
        justify-content: start;
        padding-block-start: 52px;
        padding-block-end: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    .skill__box {
        text-align: left;
    }

    .skills__rings {
        position: absolute;
        left: 74.2%;
        bottom: calc(-129px / 2);
    }

    .skill__box:nth-last-of-type(2), 
    .skill__box:last-of-type {
        margin-bottom: 0;
    }
}


@media (min-width: 62.5em) {
    .skills__container {
        margin-top: 104px;
    }
    .skills__container {
        border-bottom: none;
        padding-block-start: 72px;
        grid-template-columns: repeat(3, 1fr);
    }
    .skills__rings {
        left: 89.8%;
    }

    .skill__box:nth-last-of-type(3) {
        margin-bottom: 0;
    }
}


/* 
=================
PROJECTS SECTION
=================
*/

.projects__container{
    padding-block-start: 80px;
    padding-block-end: 80px;
}

.projects__box {
    display: grid;
}

.project-section-title__box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-block-end: 40px;
}

.project__img {
    width: 100%;
}

.tech-stack__box {
    display: flex;
    margin-block-start: 7px;
    margin-block-end: 20px;
}

.tech-stack__box > p:not(:first-child) {
    margin-left: 20px;
}

.project {
    margin-block-end: 40px;
}

.code-link {
    margin-left: 30px;
}

.project__title, 
.tech-stack__box > p,
.code-link, .project-link {
    text-transform: uppercase;
}


@media (min-width: 37.5em) {
    .projects__box{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }

}

@media (min-width: 62.5em) {
  
    .project {
        position: relative;
    }

    .project__links {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        top:0;
        left: 0;
        width: 100%;
        height: 83%;
        background-color: rgba(20, 20, 20,.5);
        transition: all 2s ease-in ;
    }

    .project:hover .project__links {
        display: flex;
    }
}



/* 
=================
CONTACT SECTION
=================
*/


.contact__container {
    background-color: var(--footer-bg-color);
    position: relative;
    /* padding-block-start: 60px; */
    padding-block-end: 87px;
    
}

.contact__rings {
    position: absolute;
    display: none;
}

.contact-header-text {
    text-align: center;
}

.contact__text {
    text-align: center;
    margin-block-start: 20px;
    margin-block-end: 50px;
}

.send-btn {
    width: 144px;
    display: block;
    letter-spacing: 2.26px;
    text-transform: uppercase;
    margin-left: auto; 
    margin-right: 0;
}

.contact__label {
    text-transform: uppercase;

}

.email-input-box {
    position: relative;
}

.fas.info__icon {
    position: absolute;
    right: 50%;
}